

div.spinner {
	width: 5em;
	height: 5em;
	border-top: 3px solid #44d;
	border-radius: 5em;
	left: 50%;
	top: 50%;  
	margin: -2.5em  auto auto -2.5em;
	position: absolute;
	animation: spin 0.7s infinite linear;
}

@keyframes spin {
	50% { border-color: red; }
	100% { border-color: #44d; transform: rotate(360deg); }
}